<div class="w-<%= size %> h-<%= size %> rounded-full overflow-hidden">
  <% if user.profile.avatar.attached? %>
    <%= image_tag user.profile.avatar, class: "w-#{size} h-#{size} rounded-full object-cover" %>
  <% else %>
    <div class="w-full h-full rounded-full bg-gray-200 flex items-center justify-center">
      <span class="text-gray-600 <%= text_size %>">
        <%= display_name(user).first.upcase %>
      </span>
    </div>
  <% end %>
</div>