<div id="<%= dom_id post %>" class="bg-white shadow rounded-lg p-6">
  <div class="flex items-center mb-4">
    <%= link_to profile_path(@user.profile.id) do %>
      <%= render partial: 'shared/user_avatar', locals: { 
        user: post.user, 
        size: '8', 
        text_size: 'text-sm' 
      } %>
    <% end %>
    <%= link_to profile_path(@user.profile.id) do %>
      <span class="ml-3 font-medium text-gray-900"><%= display_name(post.user) %></span>
    <% end %>
  </div>

  <p class="text-lg text-gray-900">
    <%= post.content %></p>

    <% if post.image.attached? %>
      <div class="image">
        <%= image_tag post.image, class: "post-image-large" %>
      </div>
    <% end %>

  <div class="mt-4 flex justify-between items-center">
    <span class="text-sm text-gray-500">
      <%= l post.created_at, format: :long %>
    </span>
    <% if post.user == current_user %>
      <div class="flex space-x-4">
        <%= link_to "削除", post_path(post),
            data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
            class: "text-pink-500 hover:text-pink-600" %>
      </div>
    <% end %>
  </div>
</div>