<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-pink-100">
    <%= render 'layouts/header' %>

    <div>
      <% if notice %>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
          <div class="bg-green-50 border-l-4 border-green-400 p-4 rounded">
            <p class="text-green-700"><%= notice %></p>
          </div>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
          <div class="bg-red-50 border-l-4 border-red-400 p-4 rounded">
            <p class="text-red-700"><%= alert %></p>
          </div>
        </div>
      <% end %>

      <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
